@{
    ViewData["Title"] = "UserPage";
}

    <h2>@ViewData["Message"]</h2>

    <ul>
        @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
        {
        
        <li> <img src="https://phet.colorado.edu/images/support/University-of-Colorado-logo_v2.png" height="50px" width="50px" style="padding-right: 1px"></li>

        
}
    </ul>