
@{
    ViewData["Title"] = "ImageViewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>ImageViewer</h1>

<div>@Model.title</div>
<div style="width: 80%; margin: 0 auto;">
    <img src="@Model.src" style="width:100%;"/>
</div>
