@model UserImagesModel
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body>
<div class="text-center">
    <h1 class="display-4" style="color: white">Welcome to BUFFiMG! Here are some recently uploaded images by our users:</h1>
</div>

<div>
    @if (Model != null)
    {
        @foreach (var image in Model.imageList)
         {
             <div class="row">
                 <div class="col"/>
                 <div class="col-12">
                     <img src=@image.src class="img-fluid"/>
                 </div>
                 <div class="col"/>
             </div>
         }
    }
</div>
</body>