@model UserImagesModel
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center" style="margin: 10%">
    @foreach (var image in Model.imageList)
    {
        <div class="row">
            <div class="col" />
            <div class="col-12">
                <img src=@image.src class="img-fluid" />
            </div>
            <div class="col" />
        </div>
    }
</div>
